.dropArea {
  width: 100%;
  min-height: 70px;
  height: 80px;
  columns: #888888;
  border: 1px dashed #888888;
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 15px;
  opacity: 1;
  transition: all 0.2s ease-in-out;
}

.hideDrop {
  opacity: 0;
  width: 100%;
}

.big {
  flex: 1;
}