.taskCard {
  border: 1px solid cadetblue;
  cursor: grab;
  width: 100%;
  min-height: 70px;
  columns: cadetblue;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 5px;
}

.taskDelete {
  justify-self: end;
  border-radius: 5px;
  padding: 2px;
  margin-top: 10px;
  padding-top: 5px;
}

.iconoDelete{
  height: 25px;
  width: 25px;
}

.taskDelete:hover {
  background-color: rgba(255, 50, 50, 0.774);
  border-color: rgba(0, 0, 0, 0.70);
  cursor: pointer;
}

.taskCard:active {
  opacity: 0.7;
  border: 1px solid red;
}